.toggler {
    color: white;
    font-size: 2.5rem;
}

.nav-link {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 500;
    margin-right: 15px;
    padding: 5px 10px;
    border-radius: 5px;
}

.nav-link:hover {
    background-color: white;
    color: orangered;
}

.active-nav-link {
    background-color: white;
    color: orangered;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 500;
    margin-right: 15px;
    padding: 5px 10px;
    border-radius: 5px;
}

@media only screen and (min-width: 780px) {
    .toggler {
        display: none;
    }

}

@media only screen and (max-width: 780px) {
    .nav-links {
        display: none;
    }

    .nav-links-toggled {
        position: absolute;
        right: 0;
        left: 0;
        text-align: center;
        top: 80px;
        /* height: 100%; */
        z-index: 99;
        padding-left: 15px;
        padding-bottom: 15px;
        background-color: rgba(251, 146, 60, 0.8);

    }

    .nav-links-toggled a {
        display: block;
        margin-top: 10px;

    }
}